.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    @apply bg-primary-950 text-white;

    &__search_bar {
        padding: 0.25rem;
        display: flex;
        align-items: center;

        &__icon {
            @apply fill-white;
            cursor: pointer;
        }

        &__input {
            border: none;
            outline: none;
            padding: 0.5rem;

            font-size: 1rem;
            font-weight: bold;

            &::-webkit-search-cancel-button {
                display: none;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;

        &__action {
            &[tabindex="0"] {
                @apply text-secondary-700;
            }
        }

        &__divider {
            border: 1px solid whitesmoke;
            height: 30px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }

        &__tool_tip {
            @apply bg-white text-black text-lg;
            padding: 0.5rem;
            font-weight: bold;

            &__icon {
                @apply fill-white;
            }
        }
    }
}